* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* Fonts et police d'écriture */
@font-face {
  font-family: "Geist-UltraLight";
  src: url(assets/Fonts/Geist/Geist/Geist-UltraLight.woff2) format('woff2');
}

@font-face {
  font-family: "Geist-Light";
  src: url(assets/Fonts/Geist/Geist/Geist-Light.woff2) format('woff2');    
}
 
@font-face {
  font-family: "Geist-Thin";
  src: url(assets/Fonts/Geist/Geist/Geist-Thin.woff2) format('woff2');    
}


/* @font-face {
  font-family: "Geist-mono";
   src: url(/SAE/assets/Fonts/Geist.Mono/Geist.Mono/GeistMono-Black.woff2) format('woff2'); 
}  */

body {
  font-family: 'Geist-Thin', sans-serif;
  background-image: url("assets/Background/fondblanc.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 15px;
  margin-top: 0px;
  text-align: center;
}

header {
  height: 10vh;
  font-size: 15px;
  background-color: #e2d5e3;
  margin: -15px;
}


footer {
  margin-top: auto;
}

span {
  color: rgb(0, 0, 0);
}

p {
  color: rgb(0, 0, 0);
}

a {
  color: #000000;
}

.navbar {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: #7900A8;
}

.navbar a {
  color: rgb(0, 0, 0);
}

.navbar .logo {
  font-size: 2em;
  font-weight: bold;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 20px;
}

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 20px;
  right: 35px;
  width: 35px;
}

.hr {
  height: 20px;
}


.centre {
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: none;
} 


.unlock {
  font-family: 'Geist-Light';
  border: none;
  box-shadow: none;
  text-transform: inherit;
  margin: 2rem;
  max-width: 24.4rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
}


.explication {
  border: none;
  box-shadow: none;
  margin-left: 0.1rem;
  margin-bottom: 1rem;
  max-width: 30.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 1.2175;
  color: #000000;
}

.btn1 {
    height: 4rem;
    left: 5rem;
    top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Bstart, .Bask {
  height: 40px;
  width: 200px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 15px;
  font-size: 17px;
  color: rgb(0, 0, 0);

}

h1 {
  font-size: 2.2rem;
  font-weight: lighter;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 10px;
}


hr {
  background-color: #000000;
}

.contenu{
  margin: 10px;
}

.scrltoUp {
  height: 50px;
  width: 50px;
  border-radius: 0%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 1px;
  bottom: 20px;
  cursor: pointer;
}

.icon {
  width: 40px;
}

.btnDefiler {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.defilerCod,
.defilerRev,
.defilerDes,
.defilerPik {
  margin: 60px;  
}

.defilerCod {
  height: 160px;
}

.defilerRev {
  height: 150px;
}


.defilerDes {
  height: 130px;
}

.defilerPik {
  height: 120px;
}

img.defiler {
  height: 200px;
}

.lss {
  margin: 10vh;

}

/* Formulaire de contact bas de page */

.contact {
  position: static;
  bottom: 0;
  left: 0;
  color: rgb(0, 0, 0);
  width: 100%;
}

h3 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin: 11px;
}


.Fhomme-femme,
.Fnom-prenom,
.Fmessage,
.inputmessage,
.btn2 {
  text-align: center;
}

.Fnom-prenom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.Fnom-prenom input {
  /* height: 40px; */
  width: 50%;
  padding: 10px;
  box-sizing: border-box;

}

  input[type=text],
  textarea {
  border: 2px solid #000000;
  border-radius: 14px;
  color: #000000;
  background-color: transparent;
  padding: 10px;
  resize: none;
  }

.radio {
  display: inline-block;
  padding: 0 6px;
  margin: 10px 0 0;
}

input[type='radio'] {
  appearance: none;
  border: 1px solid #000000;
  padding: 9px;
  border-radius: 50%; 
  display: inline-block;
  position: relative;
}

input[type='radio']:checked:after {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  content: '';
  background-color: #000000;
  transform: translate(-50%, -50%);
  position: absolute;
}

.Fmessage,
.inputmessage,
.btn2 {
  margin-top: 20px;
}

.avis {
  width: 200px;
  height: 100px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

button {
  font-family: 'Geist-Thin';
  width: 100px;
  height: 20px;
  line-height: 1;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #000000;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .0001s;
  margin: 20px;
}

button:hover {
  background: transparent;
  color: #7900A8;
  border: 1px solid #7900A8;
}

button span {
  opacity: 1;
  visibility: visible;
  transition: all .35s; 
}

button.is_active {
  width: 40px;
  height: 40px;
}

button.is_active {
  opacity: 1;
  visibility: visible;
}

button.is_active span {
  opacity: 0;
}

#popup-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background-color: #ffffff;
}

#popup-content{ 
  display: none;
  width: 100%;
  height: 100%;
  background-color: #00000046;
}

#btn-fermer{
  position: absolute;
  top: -2%;
  left: 75%;
  border: 2px solid #000000;
  border-radius: 14px;
  color: #000000;
  background-color: transparent;
}

.defilerCod, .defilerRev, .defilerDes, .defilerPik {
  width: 84px;
  height: 84px;
  user-select: none;
}

.defilerCod:hover, .defilerRev:hover, .defilerDes:hover, .defilerPik:hover {
  cursor: pointer;
}

.aDelta {
  color: #ffffff;
}

/* Medias quieries */

@media screen and (max-width: 900px) {

  .logo {
    z-index: 4;
    margin-top: 65px;
    margin-left: 25px;
  }

  .navbar {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0%;
  }

  .navbar .menu-hamburger {
    display: block;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    position: absolute;
    background-image: url("assets/Background/fondblanc.png");
    width: 100%;
    height: 100vh;
    margin-left: -100%;
    transition: all 0.35s;

  }
  body.menu-open {
    overflow: hidden;
}

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  .navbar .nav-links ul li {
    margin: 20px 0;
    font-size: 1.2em;
  }

  .navbar .logo {
    position: absolute;
    font-size: 3em;
    font-weight: bold;
  }

  .Bstart, .Bask {
    height: 40px;
    width: 2000px;
  }


  img.defiler {
    height: 100px;
  }

  .defiler {
    margin: 4px;  
  }

  .defilerCod,
  .defilerRev,
  .defilerDes,
  .defilerPik {
    margin: 10px;  
  }
  
  .defilerCod {
    height: 70px;
  }
  
  .defilerRev {
    height: 90px;
  }
  
  .defilerDes {
    height: 60px;
  }
  
  .defilerPik {
    height: 60px;
  }

  
  
  #popup-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 370px;
    height: 400px;
    border-radius: 14%;
    background-color: #ffffff;
  }

  #btn-fermer{
    display: flex;
    position: absolute;
    top: -2%;
    left: 65%;
    border: 2px solid #000000;
    border-radius: 14px;
    color: #000000;
    background-color: transparent;
    justify-content: center;
  }

}
